<div class="course-review">
  <div class="profile-img">
    <img src="assets/images/blog/author.jpg" alt="" class="img-fluid">
  </div>
  <div class="review-text">

    <h5>{{reviews|json}}  <span>26th june 2020</span></h5>

    <div class="rating">
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-star-half"></i></a>
    </div>
    <p>Great course. Well structured, paced and I feel far more confident using this software now then I did back in school when I was learning. And the guy doing the voice over really is great at what he does</p>
  </div>
</div>
