<header>
  <!-- Main Menu Start -->

  <div class="site-navigation main_menu nav-tp" id="mainmenu-area">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/UPT_logo.svg.png" alt="Edutim" class="img-fluid logo">
        </a>

        <!-- Toggler -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-1" [routerLink]="'/home-page'"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-1" [routerLink]="'/courses'"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-1" [routerLink]="'/lecturers'" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lecturers
              </a>
            </li>
            <li *ngIf="loggedIn" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-1" [routerLink]="'/courses-schedule'" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
              </a>
            </li>

          </ul>

          <a [routerLink]="'/login'" *ngIf="!loggedIn" class="btn btn-main btn-small"><i class="fa fa-sign-in-alt mr-2"></i>Login</a>
          <a [routerLink]="'/my-profile'" *ngIf="loggedIn"><i class="fa-regular fa-user mx-3 fa-lg" style="color: #ffffff;"></i></a>
          <a (click)="logout()" *ngIf="loggedIn" class="btn btn-primary mx-3 logout py-2 px-3">Logout</a>

        </div> <!-- / .navbar-collapse -->
      </div> <!-- / .container -->
    </nav>
  </div>
</header>
