<app-header></app-header>

<section class="page-header" style="padding: 49px 0px">
</section>

<section class="page-wrapper edutim-course-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="course-single-header">
          <div class="rating" *ngIf="singleCourse.courseRating >= 1">
            <i class="fa fa-star" *ngFor="let i of starArray"></i>
            <div><i class="fa-regular fa-bookmark"></i> Course Rating: {{singleCourse.courseRating}} / 5</div>
          </div>

          <h3 class="single-course-title">{{singleCourse.title}}</h3>

          <div class="single-course-meta ">
            <ul>
              <li>
                <span><i class="fa fa-calendar"></i>Last Update :</span>
                <a href="#" class="d-inline-block">October 2, 2023 </a>
              </li>

              <li>
                <span><i class="fa fa-bookmark"></i>Category :</span>
                <a href="#" class="d-inline-block">Undergraduate</a>
              </li>

              <li>
                <span><i class="fa-solid fa-shop"></i>Available :</span>
                <a href="#" class="d-inline-block" *ngIf="singleCourse.available; else elseBlock">
                  <i class="fa-solid fa-thumbs-up"></i>
                </a>
                  <ng-template #elseBlock>
                    <a href="#" class="d-inline-block">Course Not Available</a>
                  </ng-template>
              </li>
            </ul>
          </div>
        </div>

        <div class="single-course-details ">
          <h4 class="course-title">Description</h4>
          <p>{{singleCourse.description}}</p>


          <div class="course-widget course-info">
            <h4 class="course-title">What You will Learn?</h4>
            <ul>
              <li>
                <i class="fa fa-check"></i>
                Specialized training in technical fields such as engineering, information technology, electronics, telecommunications, and more.
              </li>
              <li>
                <i class="fa fa-check"></i>
                Hands-on training through laboratory work, workshops, and projects. This practical experience helps students apply theoretical knowledge to real-world situations.
              </li>
              <li>
                <i class="fa fa-check"></i>
                Mandatory internships or co-op programs, allowing students to gain practical experience in a professional setting.
              </li>
              <li>
                <i class="fa fa-check"></i>
                Use creative effects to design stunning text styles
              </li>
              <li>
                <i class="fa fa-check"></i>
                Communication, teamwork, problem-solving, and project management skills.
              </li>
            </ul>
          </div>
        </div>

        <div class="course-widget course-info">
          <h4 class="course-title">About the instructors</h4>
          <div class="instructor-profile">
            <div class="profile-img">
              <img src="assets/images/blog/author.jpg" alt="" class="img-fluid">
            </div>
            <div class="profile-info">
              <h5>{{lecturer.firstName}} {{lecturer.lastName}}</h5>
              <div class="rating" [ngSwitch]="lecturer.rating">
                <div *ngSwitchCase="1">
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
                <div *ngSwitchCase="2">
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
                <div *ngSwitchCase="3">
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
                <div *ngSwitchCase="4">
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
                <div *ngSwitchCase="5">
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
                <div *ngSwitchDefault>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <span>{{lecturer.rating}}</span>
                </div>
              </div>
              <p>{{lecturer.description}}</p>
              <div class="instructor-courses">
                <span><i class="bi bi-folder"></i>Email: {{lecturer.email}}</span>
<!--                <span><i class="bi bi-group"></i>400 Students</span>-->
              </div>
            </div>
          </div>
        </div>
<!--        <div class="course-widget course-info">-->
<!--          <h4 class="course-title">Students Feedback</h4>-->

<!--          <div class="course-review-wrapper">-->
<!--&lt;!&ndash;            //single review&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="course-review">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="profile-img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="assets/images/blog/author.jpg" alt="" class="img-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="review-text">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5>Mehedi Rasedh  <span>26th june 2020</span></h5>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="rating">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"><i class="fa fa-star"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"><i class="fa fa-star"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"><i class="fa fa-star"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"><i class="fa fa-star"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"><i class="fa fa-star-half"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Great course. Well structured, paced and I feel far more confident using this software now then I did back in school when I was learning. And the guy doing the voice over really is great at what he does</p>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--            <app-single-review></app-single-review>-->

<!--            <div class="course-review">-->
<!--              <div class="profile-img">-->
<!--                <img src="assets/images/blog/author.jpg" alt="" class="img-fluid">-->
<!--              </div>-->
<!--              <div class="review-text">-->
<!--                <h5>Rasedh raj <span>1 Year Ago</span></h5>-->
<!--                <div class="rating">-->
<!--                  <a href="#"><i class="fa fa-star"></i></a>-->
<!--                  <a href="#"><i class="fa fa-star"></i></a>-->
<!--                  <a href="#"><i class="fa fa-star"></i></a>-->
<!--                  <a href="#"><i class="fa fa-star"></i></a>-->
<!--                  <a href="#"><i class="fa fa-star-half"></i></a>-->
<!--                </div>-->
<!--                <p>Very deep course for a beginner, enjoyed everything from the very start and every detail is vastly investigated and discussed. A nice choice for those, who are enrolling Python. </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <app-single-review></app-single-review>

          <div class="course-widget course-info" >
            <h4 class="course-title">Submit a review!</h4>
            <div class="course-review">
              <app-review-form></app-review-form>
            </div>
          </div>

      </div>

      <div class="col-lg-4">
        <div class="course-sidebar">
          <div class="course-single-thumb">
            <img src="assets/images/course/course2.jpg" alt="" class="img-fluid w-100">
            <div class="course-price-wrapper">
              <div class="course-price ml-3"><h5>Price: <span>Included on college tuition</span></h5></div>
              <div class="buy-btn">
                <a class="btn btn-main btn-block" style="margin-right: 0.3rem;margin-left: 3rem;"
                   (click)="isEnrolled()">
                  Enroll Now
                </a>
                <a class="btn btn-main btn-block"
                   (click)="dropOut()">
                    Drop out
                </a>
              </div>
            </div>
          </div>


          <div class="course-widget single-info">
            <i class="bi bi-group"></i>
            Enrolled <span>{{singleCourse.enrolledStudents}} Students</span>
          </div>

          <div class="course-widget course-details-info">
            <h4 class="course-title">This Course Includes</h4>
            <ul>
              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-graph-bar"></i>Skill level : </span>
                  Intermediate
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-user-ID"></i>Instructor :</span>
                  <a href="#" class="d-inline-block">{{lecturer.firstName}} {{lecturer.lastName}}</a>
                </div>
              </li>

              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-flag"></i>Duration :</span>
                  {{singleCourse.startDate}}
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-paper"></i>Lessons :</span>
                  {{singleCourse.endDate}}
                </div>
              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-forward"></i>Language :</span>
                  English/Albanian
                </div>
              </li>

              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <span><i class="bi bi-madel"></i>Certificate :</span>
                  yes
                </div>
              </li>
            </ul>
          </div>


          <div class="course-widget course-share d-flex justify-content-between align-items-center">
            <span>Share</span>
            <ul class="social-share list-inline">
              <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li  class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li  class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li  class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
            </ul>
          </div>

          <div class="course-widget course-metarials">
            <h4 class="course-title">Requirements</h4>
            <ul>
              <li>
                <i class="fa fa-check"></i>
                Mathematics and related fields.
              </li>
              <li>
                <i class="fa fa-check"></i>
                Statistics and probability.
              </li>
              <li>
                <i class="fa fa-check"></i>
                Critical Thinking.
              </li>

            </ul>
          </div>

          <div class="course-widget">
            <h4 class="course-title">Tags</h4>
            <div class="single-course-tags">
              <a href="#">Technology</a>
              <a href="#">Computers</a>
              <a href="#">Mathematics</a>
              <a href="#">Engineering</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

