<div class="course-top-wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>Top rated Courses</p>
            </div>

            <div class="col-lg-4">
                <div class="topbar-search">
                    <form [formGroup]="applyForm" (keydown.enter)="submitApplication()">
                        <input type="text"  placeholder="Search our courses" class="form-control" formControlName="courseName">
                        <label><i class="fa fa-search"></i></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="formSubmitted">
    <div class="row">
        <div class="col-lg-4 col-md-6 my-3" *ngFor="let course of searchedCourses" style="box-shadow: 10px 5px 5px #d2d1d1;">
            <div class="course-block course-style-2">
                <div class="course-img" style="height: 40vh; ">
                    <img
                            [src]="'http://localhost:8080/img/courses/' + course.picture"
                            alt=""
                            class="img-fluid"
                            style="height: 100%; width: 100%; object-fit: contain; border: 1px solid #e1e0e0"
                    >
                    <span class="course-cat" *ngIf="course.available; else elseBlock">
                  Available
              </span>
                    <ng-template #elseBlock>
                <span class="course-cat">
                  Course Not Available
                </span>
                    </ng-template>
                </div>

                <div class="course-content">
                    <h4><a [routerLink]="'/course/'+course.id">{{course.title}}</a></h4>
                    <p>{{course.description}}</p>

                    <div class="course-footer d-lg-flex align-items-center justify-content-between">
                        <div class="course-meta">
                  <span *ngIf="course.courseRating >= 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                      {{course.courseRating}} / 5</span>
                            <span *ngIf="course.courseRating < 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    - </span>
                        </div>

                        <div><span class="course-price">{{course.totalQuotes - course.enrolledStudents}}</span> free quotes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

