<app-header></app-header>

<section class="page-header" style="padding: 49px 0px">
  <!-- Your page header content -->
</section>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <div class="border-bottom p-4">
          <div class="osahan-user text-center">
            <div class="osahan-user-media">
              <img class="mb-3 rounded-pill shadow-sm mt-1" [src]="'http://localhost:8080/img/lecturers/' + singleLecturer.profilePicture" alt="gurdeep singh osahan" style="width: 100px; height: 100px; object-fit: cover;">
              <div class="osahan-user-media-body">
                <h6 class="mb-2">{{ singleLecturer.firstName }}</h6>
                <p>{{ singleLecturer.email }}</p>

                <div class="list-card-badge">
                  <i class="icofont-star text-warning" *ngFor="let _ of [].constructor(5); let i = index">{{ i < (singleLecturer.rating ?? 0) ? '★' : '☆' }}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p><i class="icofont-heart"></i> Description</p>
          <p>{{ singleLecturer.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
            <h4 class="font-weight-bold mt-0 mb-4"><h2><strong>Courses</strong></h2></h4>
            <div class="row">
              <div class="row">
                <div class="col-md-4 col-sm-6 mb-4 pb-2" *ngFor="let course of coursesOfLecturer">
                  <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                    <div class="list-card-image">
                      <a [routerLink]="'/course/'+course.id">
                        <img [src]="'http://localhost:8080/img/courses/' + course.picture" class="img-fluid item-img">
                      </a>
                    </div>
                    <div class="p-3 position-relative">
                      <div class="list-card-body">
                        <h3><a [routerLink]="'/course/'+course.id"><strong>{{course.title}}</strong></a></h3>
                        <p class="text-gray mb-3">{{ course.description }}</p>
                        <div class="time">
                          <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2">
                          Start Date:  {{ course.startDate }}
                          </span>
                          <br>
                          <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2">
                          End Date:    {{ course.endDate }}
                          </span>
                        </div>
                        <br>
                        <div class="quotes">
                          <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2">
                          Total quotes:  {{ course.totalQuotes }}
                          </span>
                          <br>
                          <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2">
                          Free quotes:    {{ course.totalQuotes - course.enrolledStudents}}
                          </span>
                        </div>
                      </div>
                      <div class="list-card-badge">
                        <i class="icofont-star text-warning" *ngFor="let _ of [].constructor(5); let i = index">{{ i < course.courseRating ? '★' : '☆' }}</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
