<app-header></app-header>

<div class="search-wrap">
  <div class="overlay">
    <form action="" class="search-form">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-9">
            <h3>Search Your keyword</h3>
            <input type="text" class="form-control" placeholder="Search..."/>
          </div>
          <div class="col-md-2 col-3 text-right">
            <div class="search_toggle toggle-wrap d-inline-block">
              <img class="search-close" src="assets/images/close.png" srcset="assets/images/close@2x.png 2x" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<section class="banner-left bg-grey">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6">
        <div class="banner-content">
          <span class="subheading">Since 1951</span>
          <h1>Polytechnic University of Tirana</h1>
          <p>The Polytechnic University of Tirana is a public university located in Tirana, the capital of Albania. It
            offers degrees in engineering and related fields.</p>
          <a [routerLink]="'/courses'" class="btn btn-main"><i class="fa fa-list-ul mr-2"></i>See Courses </a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="banner-img">
          <img src="../../../assets/img/upt-image.jpg" alt="" class="">
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


<section class="counter-wrap mt--105">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 counter-inner">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="counter-item">
              <i class="ti-desktop"></i>
              <div class="count">
                <span class="counter h2">{{numberOfLecturers}}</span>
              </div>
              <p>Expert Instructors</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-item">
              <i class="ti-agenda"></i>
              <div class="count">
                <span class="counter h2">{{numberOfCourses}}</span>
              </div>
              <p>Total Courses</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="counter-item">
              <i class="ti-heart"></i>
              <div class="count">
                <span class="counter h2">{{numberOfStudents}}</span>
              </div>
              <p>Active Students</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="counter-item">
              <i class="ti-microphone-alt"></i>
              <div class="count">
                <span class="counter h2">24</span>
              </div>
              <p>Creative Events</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category Start -->

<section class="section-padding video-section2 clearfix">
  <div class="video-block-container"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="section-heading">
          <span class="subheading">Working Process</span>
          <h3 style="line-height: 60px">Watch video to know more about us</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="https://www.youtube.com/watch?v=zFb0Ppkzco0" target="_blank" class="video-icon"><i
          class="fa fa-play"></i></a>
      </div>
    </div>
  </div>
  <!--course-->
</section>
<!--course section end-->


<section class="blog section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-heading center-heading">
          <span class="subheading">About Us</span>
          <h3>Who We Are</h3>
          <p>The Polytechnic University of Tirana is the oldest
            and the second largest university in Albania. It was
            founded in 1951 and now has approximately 10,000 students,
            who come from Albania, Kosova, Montenegro, and North Macedonia.
            The university is fully accredited by the Albanian Public
            Agency for Accreditation of Higher Education (APAAHE).</p>
        </div>
      </div>
    </div>


    <div class="row">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2118.9002861463323!2d19.82118614481304!3d41.31805354866567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135030e2870cc581%3A0x6c539e3ffce9fa68!2sPolytechnic%20University%20of%20Tirana!5e0!3m2!1sen!2s!4v1702381482620!5m2!1sen!2s"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </div>
  </div>
</section>

<div class="fixed-btm-top">
  <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>

