<app-header></app-header>
<!--search overlay start-->
<div class="search-wrap">
  <div class="overlay">
    <form action="" class="search-form">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-9">
            <h3>Search Your keyword</h3>
            <input type="text" class="form-control" placeholder="Search..."/>
          </div>
          <div class="col-md-2 col-3 text-right">
            <div class="search_toggle toggle-wrap d-inline-block">
              <img class="search-close" src="assets/images/close.png" srcset="assets/images/close@2x.png 2x" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--search overlay end-->


<section class="page-header" style="padding: 48px 0px">
  <div class="container">
    <div class="row justify-content-center">
    </div>
  </div>
</section>

<!--8 top rated Course Section-->

<section class="section-padding course">
  <div class="course-top-wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <p>Top rated Courses</p>
        </div>

        <div class="col-lg-4">
          <div class="topbar-search">
            <form method="get" action="#">
              <input type="text"  placeholder="Search our courses" class="form-control">
              <label><i class="fa fa-search"></i></label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  COURSES CARDS-->

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 my-3" *ngFor="let topRatedCourse of topRatedCourses | paginate: { itemsPerPage: 3, currentPage: t }" style="box-shadow: 10px 5px 5px #d2d1d1;">
        <div class="course-block course-style-2">
          <div class="course-img" style="height: 40vh; ">
            <img
              [src]="'http://localhost:8080/img/courses/' + topRatedCourse.picture"
              alt=""
              class="img-fluid"
              style="height: 100%; width: 100%; object-fit: contain; border: 1px solid #e1e0e0"
            >
            <span class="course-cat" *ngIf="topRatedCourse.available; else elseBlock">
                  Available
              </span>
            <ng-template #elseBlock>
                <span class="course-cat">
                  Course Not Available
                </span>
            </ng-template>
          </div>

          <div class="course-content">
            <h4><a [routerLink]="'/course/'+topRatedCourse.id">{{topRatedCourse.title}}</a></h4>
            <p>{{topRatedCourse.description}}</p>

            <div class="course-footer d-lg-flex align-items-center justify-content-between">
              <div class="course-meta">
                  <span *ngIf="topRatedCourse.courseRating >= 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    {{topRatedCourse.courseRating}} / 5</span>
                <span *ngIf="topRatedCourse.courseRating < 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    - </span>
              </div>

              <div><span class="course-price">{{topRatedCourse.totalQuotes - topRatedCourse.enrolledStudents}}</span> free quotes </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <!--        <nav class="blog-pagination text-center">-->
        <ul>
          <pagination-controls (pageChange)="t = $event"></pagination-controls>
        </ul>
        <!--        </nav>-->
      </div>
    </div>
  </div>
</section>

<section class="section-padding course">
  <div class="course-top-wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <p>All Courses</p>
        </div>
      </div>
    </div>
  </div>

<!--  COURSES CARDS-->

  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 my-3" *ngFor="let course of pageOfCourses | paginate: { itemsPerPage: 6, currentPage: p }" style="box-shadow: 10px 5px 5px #d2d1d1;">
          <div class="course-block course-style-2">
            <div class="course-img" style="height: 40vh; ">
              <img
                [src]="'http://localhost:8080/img/courses/' + course.picture"
                alt=""
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain; border: 1px solid #e1e0e0"
              >
              <span class="course-cat" *ngIf="course.available; else elseBlock">
                  Available
              </span>
              <ng-template #elseBlock>
                <span class="course-cat">
                  Course Not Available
                </span>
              </ng-template>
            </div>

            <div class="course-content">
              <h4><a [routerLink]="'/course/'+course.id">{{course.title}}</a></h4>
              <p>{{course.description}}</p>

              <div class="course-footer d-lg-flex align-items-center justify-content-between">
                <div class="course-meta">
                  <span *ngIf="course.courseRating >= 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    {{course.courseRating}} / 5</span>
                  <span *ngIf="course.courseRating < 1" class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    - </span>
                </div>

                <div><span class="course-price">{{course.totalQuotes - course.enrolledStudents}}</span> free quotes </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
<!--        <nav class="blog-pagination text-center">-->
          <ul>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
<!--        </nav>-->
      </div>
    </div>
  </div>
</section>

<div class="fixed-btm-top">
  <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



