<app-header></app-header>
<!--search overlay start-->
<div class="search-wrap">
  <div class="overlay">
    <form action="" class="search-form">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-9">
            <h3>Search Your keyword</h3>
            <input type="text" class="form-control" placeholder="Search..."/>
          </div>
          <div class="col-md-2 col-3 text-right">
            <div class="search_toggle toggle-wrap d-inline-block">
              <img class="search-close" src="assets/images/close.png" srcset="assets/images/close@2x.png 2x" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--search overlay end-->


<section class="page-header" style="padding: 48px 0px">
  <div class="container">
    <div class="row justify-content-center">
    </div>
  </div>
</section>

<section class="section-padding course">
  <div class="course-top-wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <p>Showing 1-6 of 8 results</p>
        </div>

        <div class="col-lg-4">
          <div class="topbar-search">
            <form method="get" action="#">
              <input type="text"  placeholder="Search our courses" class="form-control">
              <label><i class="fa fa-search"></i></label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  COURSES CARDS-->

  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let course of pageOfCourses | paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="course-block course-style-2">
            <div class="course-img">
              <img src="../../../assets/img/upt-image.jpg" alt="" class="img-fluid">
              <span class="course-cat" *ngIf="course.available; else elseBlock">
                  Available
              </span>
              <ng-template #elseBlock>
                <span class="course-cat">
                  Course Not Available
                </span>
              </ng-template>
            </div>

            <div class="course-content">
              <h4><a [routerLink]="'/course/'+course.id">{{course.title}}</a></h4>
              <p>{{course.description}}</p>

              <div class="course-footer d-lg-flex align-items-center justify-content-between">
                <div class="course-meta">
                  <span class="course-student"><i class="bi bi-group fa-regular fa-bookmark"></i>Rating:
                    {{course.courseRating}} / 100 %</span>
                </div>

                <div><span class="course-price">{{course.totalQuotes - course.enrolledStudents}}</span> free quotes </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
<!--        <nav class="blog-pagination text-center">-->
          <ul>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
<!--        </nav>-->
      </div>
    </div>
  </div>
</section>

<div class="fixed-btm-top">
  <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="assets/vendors/jquery/jquery.js"></script>
<!-- Bootstrap 4.5 -->
<script src="assets/vendors/bootstrap/bootstrap.js"></script>
<!-- Counterup -->
<script src="assets/vendors/counterup/waypoint.js"></script>
<script src="assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="assets/vendors/jquery.isotope.js"></script>
<script src="assets/vendors/imagesloaded.js"></script>
<!--  Owlk Carousel-->
<script src="assets/vendors/owl/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>


