<body><app-header></app-header>

<section class="page-header" style="padding: 49px 0px">
  <!-- Your page header content -->
</section>

<section class="team section-padding">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6">
        <div class="section-heading center-heading">
          <span class="subheading">Best Expert Lecturers</span>
          <h3>Our Professional Lecturers</h3>
          <p>Meet the amazing faces behind our university courses! Get to know our lecturers, their passions, and their commitment to shaping bright minds. Discover the diverse team dedicated to making your academic journey memorable and inspiring.</p>
        </div>
      </div>
    </div>

    <section>
      <div class="row">
        <!-- Loop through the lecturers and display each one -->
        <div class="col-lg-4 col-md-6" *ngfor="let lecturer of lecturers">
          <div class="team-block">
            <div class="team-img">
              <img src="./assets/img/upt-image.jpg" alt="{{ lecturer.firstName }} {{ lecturer.lastName }}" class="img-fluid">
            </div>
            <div class="team-info">
              <h4>{{ lecturer.firstName }} {{ lecturer.lastName }}</h4>
              <p>{{ lecturer.email }}</p>
              <p>Rating: {{ lecturer.rating }}</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="counter-wrap pb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 counter-inner">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                  <i class="ti-desktop"></i>
                  <div class="count">
                    <span class="counter h2">{{ numberOfLecturers }}</span>
                  </div>
                  <p>Expert Instructors</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                  <i class="ti-agenda"></i>
                  <div class="count">
                    <span class="counter h2">{{ numberOfCourses }}</span>
                  </div>
                  <p>Total Courses</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                  <i class="ti-heart"></i>
                  <div class="count">
                    <span class="counter h2">{{ numberOfStudents }}</span>
                  </div>
                  <p>Active Students</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                  <i class="ti-microphone-alt"></i>
                  <div class="count">
                    <span class="counter h2">24</span>
                  </div>
                  <p>Creative Events</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="fixed-btm-top">
      <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </div>

    <app-footer></app-footer>
  </div></section></body>
